
/* home page style */

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  h1 {
    font-family:monospace;
    text-align: center;
  }
  .content_box .logo {
    text-align: center;
    padding: 20px 0px 50px;
  }
  .content_box .logo img {
    max-width: 250px;
  }
 .HomeButton {
   display: flex;
   margin: 0px -10px;
 }
 .HomeButton a {
   width: 33.3333%;
   padding: 0px 10px;
 }
 .profileimg {
   margin-bottom: 30px;
   border: solid 1px #d2d2d2;
 }
 .profileimg img {
  width: 100%;
 }
 .jumbotron {
  background-color: #52734d;
 }


 .jumbo-icon, .jumbortron{

padding:5px !important;


 }

 .jumbo-icon a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
